@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}

body {
    max-width: 2560px;
    margin: 0 auto;
}

/* navbar */
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
nav ul {
    display: flex;
    gap: 60px;
}

nav {
   
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 102px;
}

.header-logo {
    width: 400px;
    opacity: 0.9;
}

ul li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
}

nav ul li a:active {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 4px 0px;
}

/* hero container */

#hero {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.hero-content {
    position: relative;
}

#hero button {
    position: absolute;
    bottom: 4px;
    left: 0;
}

h1 {
    font-size: 64px;
    color: #333333;
    height: 160px;
    position: relative;
    line-height: 64px;
    cursor: default;
}

h1::after {
    content: "";
    position: absolute;
    height: 4.2em;
    border-left: 1px solid #F2F2F2;
    transform: rotate(90deg);
    right: 25%;
    top: 35%;
}


h1::first-line {
    font-weight: 300;
    color: #BDBDBD;
}

/* button style */

.btn-global {
    width: 222px;
    height: 71px;
    font-size: 12px;
    letter-spacing: 2px;
    border: none;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
}

.btn-global i {
    margin-left: 16px;
    font-size: 24px;
    font-style: normal;
    margin-bottom: 5px;
    
}

.btn-global:hover {
    color: white;
    background-color: #333333;
}

.btn--black {
    background-color: #333333;
    color: white;
    /* margin-top: 30px; */
}

.btn--black:hover {
    color: #333333;
    background-color: white;
    border: 1px solid #333333;
}

.btn-bottom-right {
    position: absolute;
    bottom: 4px;
    right: 0px;
}

.form-button {
    position: absolute;
    bottom: -148px;
}

/* gallery */

#gallery-section {
    display: flex;
    background-color: #FBFBFB;
    border-radius: 5px;
    margin-bottom: 120px;
    padding: 30px 70px 0px 100px;
    height: 435px;
}

.gallery-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "photo1 photo2"
        "photo3 photo2";
    gap: 30px;
}

.photo1 {
    grid-area: photo1;
}

.photo2 {
    grid-area: photo2;
    margin-top: 30px;
}

.photo3 {
    grid-area: photo3;
}

.about-gallery {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

h2 {
    font-size: 64px;
    color: #BDBDBD;
    font-weight: 300;
    display: block;
}

.section-heading {
    padding-bottom: 60px;
}

.about-gallery p {
    line-height: 25px;
    margin: 6px 0px 20px 0px;
    font-weight: 300;
}


.statements-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    line-height: 36px;
    gap: 187px;
}
.statement-1{
    width: 279px;
}

.statement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
}

.statement-index {
    font-size: 200px;
    /* line-height: 235px; */
    font-weight: 900;
    color: #F2F2F2;
    padding-right: 30px;
}

/* our orijects  */

#projects-section {
    padding: 120px 0px 101px 0px;
    position: relative;

}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects a {
    cursor: pointer;
}

h3 {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: #FBFBFB;
    max-width: 233px;
}

.project:hover::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.555);
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.project {
    position: relative;
}


.hover-content {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    /* opacity: 0; */
    visibility: hidden;
}

.project:hover .hover-content {
    /* opacity: 1; */
    visibility: visible;
}

.project-button {
    font-size: 12px;
    letter-spacing: 2px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
    margin-top: 8px;
    padding: 8px 0px;
    border-radius: 5px;
    text-transform: uppercase;
}

.projects a {
    cursor: pointer;
}

/* contact us form */

#contact-section {
    margin-top: 120px;
    margin-bottom: 268px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 77px; */
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    width: 391px;
    justify-content: space-between;
}

form input {
    border: none;
    height: 46px;
    background-color: #F3F3F3;
    box-sizing: border-box;
    padding: 10px;
}

textarea {
    resize: none;
    border: none;
    height: 147px;
    background-color: #F3F3F3;
    box-sizing: border-box;
    padding: 10px;
}

/* footer */
footer {
    background-color: #2C2C2C;
    margin-top: 120px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 60px 0px;
    height: 315px;
}

.footer-content img {
    max-width: 145px;
    max-height: 94px;
    opacity: 0.9;
}

h4 {
    margin-bottom: 25px;
}

.footer-list li a {
    color: white;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 230px;
}

.contact-details a,
.sm-icon a {
    font-style: normal;
    text-decoration: none;
    color: #FFFFFF;
}

.contact-details a i {
    margin-right: 19px;
}

.sm-icon {
    display: flex;
    gap: 40px;
    font-size: 20px;
}

address a {
    display: flex;
    margin-bottom: 20px;
}

.footer-content a:hover {
    color: aqua;
}
.footer-content img:hover,.header-logo:hover{
    opacity: 1;
}

.footer-text {
    color: #C8C8C880;
    text-align: center;
    padding: 24px 0px;
    border-top: 1px solid #555555;
    font-size: 12px;
    line-height: 22px;
}